 *{ 
Margin:0;
Padding:0;
Box-sizing: border-box;
Font-family: "Poppins", sans-serif;
}

html,body{

Width:100%;
Height:100%;
}

#main { 
    width: 100%;
    height: 100%;
    /* background-color: red; */

}

#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

}

#nav-part1{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 2px;
}


#nav-part2{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#nav-part2 h4{ 
    font-size: 16px;
    font-weight: 600;
}
#nav-part2 h4 span {
    color: rgb(77, 77, 78);
    margin-left: 25px;
}
.gola {
    width: 22px;
    height: 22px;
    background-color: black;
    border-radius: 50%;

}

.nav2 {
    height: 70px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 100px;
  }

  .nav2 h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  #content { 
    width: 100%;
    height: calc(100% - 150px);
    /* background-color: aquamarine; */

  }

  #text-content{
    width: 100%;
    height: 40%;
    /* background-color: burlywood; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    /* The CSS property overflow-x: auto; is used to control the horizontal overflow of an element. Here's what it does:

overflow-x: This property specifies what to do with the content that overflows the element's box horizontally.
auto: This value means that if the content overflows the element's box, a horizontal scrollbar will appear to allow the user to scroll and see the hidden content.
In summary, overflow-x: auto; ensures that a horizontal scrollbar is added only when the content overflows the element's width. */



  }

  #text-content::-webkit-scrollbar {
   
    /* target scrollbar */
    /* display: none; */
background-color: transparent;
height: 7px;

  }
  #text-content::-webkit-scrollbar-thumb {
    background-color:rgb(0, 255, 128);
    border-radius: 10px;
  }

.elem {
    
    flex-shrink: 0;
    height: 100%;
    width: 80%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.elem h1{
    /* font-size: 100px; */
    font-size: 7vw;
    font-weight: 200;
}


#image-content{
    width: 100%;
    height: 60%;
    background-color: blue;
    display: flex;
    overflow-x: auto;
    
    
}

#image-content::-webkit-scrollbar {
    /* target scrollbar */
    display: none;
}

#image-content img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 30%; 
    

}

#nav h5{
    display: none;
}


@media (max-width: 1180px) {
    
    
    #nav{
        height: 70px;
        /* background-color: red; */
        padding: 0 25px;
    
    }
   
    #nav-part1{ 
        gap: 0px;
    }

    
#nav h5{
    display: initial;

}

#nav h5 i {
    font-size: 20px;
    font-weight: 700;
}
    #nav-part2{
      
        align-items: center;
        gap: 30px;
    }
    
    #nav-part2 h4{ 
        font-size: 15px;
        font-weight: 600;
        display: none;
    }

    #nav-part2 h4:nth-child(1){
        display: initial;
        margin-right: 25px;
    }

    #nav-part2 h4 span {
        color: rgb(77, 77, 78);
        margin-left: 10px;
    }
    .gola {
        width: 16px;
        height: 16px;
        background-color: black;
        border-radius: 50%;
    
    }


    .nav2 {
        height: 55px;
        width: 100%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        gap: 3vw;
      }
    
      .nav2 h3 {
        font-size: 2.5vw;
        text-transform: uppercase;
        font-weight: 500;
        color: #7a7575;
      }

      #content { 
        width: 100%;
        height: calc(100% - 125px);
        /* background-color: aquamarine; */
    
      }
    
      #text-content{
        width: 100%;
        height: 40%;
        /* background-color: burlywood; */
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    
        /* The CSS property overflow-x: auto; is used to control the horizontal overflow of an element. Here's what it does:
    
    overflow-x: This property specifies what to do with the content that overflows the element's box horizontally.
    auto: This value means that if the content overflows the element's box, a horizontal scrollbar will appear to allow the user to scroll and see the hidden content.
    In summary, overflow-x: auto; ensures that a horizontal scrollbar is added only when the content overflows the element's width. */
    
    
    
      }
    
      #text-content::-webkit-scrollbar {
       
        /* target scrollbar */
        /* display: none; */
    background-color: transparent;
    height: 5px;
    
      }
      #text-content::-webkit-scrollbar-thumb {
        background-color:rgb(0, 255, 128);
        border-radius: 10px;
      }
    
    .elem {
        
        flex-shrink: 0;
        height: 100%;
        width: fit-content;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
       
    }
    
    .elem h1{
        /* font-size: 100px; */
        font-size: 24vw;
        white-space: nowrap; 
        /* no wrap makes to stay in the same line */
        font-weight: 200;
        margin: 5vw;
    }
    
    
    #image-content{
        width: 100%;
        height: 60%;
        background-color: blue;
        display: flex;
        overflow-x: auto;
        
        
    }
    
    #image-content::-webkit-scrollbar {
        /* target scrollbar */
        display: none;
    }
    
    #image-content img{
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 20% 30%; 
        
    
    } 


}

